<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="style.css">
    <title>Login Page</title>
</head>
<body>
    <%- include('components/navbar.ejs') %>
    <%- include('components/hero.ejs') %>
    <div class="text-center text-3xl text-purple-500 mt-16 font-bold">
        Popular Menu
    </div>
    <%- include('components/newhome.ejs') %>
    <%- include('components/footer.ejs') %>
</body>
</html>