<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('components/utility.ejs') %>
    <title>My Order Page</title>
</head>
<body class="bg-[#0a0a0a] lg:px-20">
    <!-- navbar -->
    <%- include('components/navbar.ejs') %>
    <% let countOrder = 0; %>
    <% for (let i = 0; i < myorder.length; i++) { %>
        <% countOrder++; %>
    <% } %>

    <div class="container mx-auto text-center pt-10 pb-3 font-semibold text-gray-400  text-3xl lg:text-4xl">
        My order (<span><%= countOrder %></span> orders)
    </div>
    <div class="container mx-auto lg:px-4 mb-4 min-w-[390px]">
        <div class="flex flex-col">
            <!-- order header -->
            <div class="flex items-center bg-black text-white gap-4 py-2 px-4 rounded-[0.375rem_0.375rem_0_0] whitespace-nowrap font-semibold border-t border-x">
                <div class="w-1/4 text-center">Order ID</div>
                <div class="w-1/4 text-center">Real Name</div>
                <div class="w-1/4 text-center">Total</div>
                <div class="w-1/4 text-center">Date/Time</div>
                
            </div>
            <!-- order item -->
            
            <% if(myorder.length == 0) { %>
                <div class="flex justify-center items-center bg-black py-4 rounded-[0_0_0.375rem_0.375rem] border">
                    <h1 class="text-xl font-semibold text-gray-400">Don't have any Order yet.</h1>
                </div>
            <% } %>
            <% if(myorder.length > 0) { %>
                <% for (let i = 0; i < myorder.length; i++) { %>
                    <% let orderDate = new Date(myorder[i].createdAt); %>
                    <% let strDate = orderDate.getDate().toString().padStart(2,'0') + "/" + (orderDate.getMonth() + 1).toString().padStart(2,'0') + "/" + (parseInt(orderDate.getFullYear()) + 543); %>
                    <% let strTime = orderDate.getHours().toString().padStart(2,'0') + ":" + orderDate.getMinutes().toString().padStart(2,'0') + ":" + orderDate.getSeconds().toString().padStart(2,'0'); %>
                    <%- include('components/myorderItem.ejs', {
                        orderId: myorder[i].orderId,
                        totalAmount: myorder[i].totalAmount,
                        subtotal: myorder[i].subtotal,
                        fname: user.fname,
                        date: strDate,
                        time: strTime,
                        orderDetail: myOrderDetailArray[i]
                    }) %>
                <% } %>
            <% } %>

            <!-- divider cart items -->
            <div class="w-full py-[1px] rounded-[0_0_0.375rem_0.375rem] bg-white mb-4 border"></div>
        </div>
    </div>



    <script src="../javascript/script.js"></script>
</body>
</html>