<div>
    <div class="text-center">
        <h1 class="text-4xl font-semibold mt-20 text-purple-500">About Us</h1>
        <p class="max-w-6xl mx-auto mt-4 mb-20 text-grey-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid eius adipisci ex quod, 
            illo ullam enim doloribus. Repellendus esse, illum commodi facere amet adipisci vitae 
            repudiandae delectus consequatur quam quod possimus vel inventore sunt quos optio hic autem! 
            Nam, fugiat?</p>
    </div>
</div>