<div>
    <div class="text-center">
        <h1 class="text-4xl font-semibold mt-20 text-white">About Us</h1>
        <p class="max-w-6xl mx-auto mt-4 mb-20 text-white">"Welcome to our realm where the realms of fashion and food converge,
             each stitch weaving a narrative of craftsmanship and creativity. Together, let's embark on a transformative odyssey,
              transcending boundaries of self-expression and style, as we savor the essence of every loaf-inspired ensemble, 
              igniting passion and purpose along the way.</p>
    </div>
</div>