<div class="w-full h-full flex items-center justify-center relative">
    <img 
        src="https://images.pexels.com/photos/461060/pexels-photo-461060.jpeg" 
        class="w-full h-full object-cover" 
        alt="bread"
    >
    <div class="absolute left-[50px] top-[350px] flex items-center justify-center">
        <p class="text-white text-7xl font-bold">BREAD :</p>
    </div>
    <div class="absolute left-[380px] top-[375px] flex items-center justify-center">
        <p class="text-white text-4xl font-bold">A simple pleasure that makes life better</p>
    </div>
</div>