<div class="grid grid-cols-2 px-24 ml-96 ">
    <div>
        <h1 class="text-6xl font-semibold mt-20 text-purple-500">Bread</h1>
        <p class="my-4 mx-2 text-2xl text-grey-500">
            A simple pleasure that makes life better
        </p>
        <div>
            <button class="my-2 bg-purple-500 rounded-full text-white px-8 py-2">Order Now</button>
        </div>
    </div>
    
    <div class="relative w-72 h-72 mr-12 my-2">
        <img src="https://img.freepik.com/premium-photo/watercolor-painting-cake-with-pink-flowers_738906-1593.jpg?w=740" class="object-contain">
    </div>
</div>