<div class="p-6">
    <div class="text-center">
        <h1 class="text-4xl font-semibold mt-20 text-purple-500">Popular Menu</h1>
    </div>
    <div class="grid grid-cols-4 gap-4 mt-10 mx-auto">
        <div class="bg-gray-100 w-72 h-72 p-4 rounded-lg text-center">
            <img src="https://i5.walmartimages.com/seo/Freshness-Guaranteed-French-Bread-14-oz_fd51f0c3-4eea-4ff1-8109-7770339b6d85.fdba2ce348744cde3840700f5e33f3d3.jpeg" class=" h-32 w-32 mx-auto" alt="">
            <h2 class="mb-4 mt-4">Name</h2>
            <button class="bg-purple-500 rounded-full text-white px-8 py-2">Add to cart 80฿</button>
        </div>
        <div class="bg-gray-100 w-72 h-72 p-4 rounded-lg text-center">
            <img src="https://i5.walmartimages.com/seo/Freshness-Guaranteed-French-Bread-14-oz_fd51f0c3-4eea-4ff1-8109-7770339b6d85.fdba2ce348744cde3840700f5e33f3d3.jpeg" class=" h-32 w-32 mx-auto" alt="">
            <h2 class="mb-4 mt-4">Name</h2>
            <button class="bg-purple-500 rounded-full text-white px-8 py-2">Add to cart 80฿</button>
        </div>
        <div class="bg-gray-100 w-72 h-72 p-4 rounded-lg text-center">
            <img src="https://i5.walmartimages.com/seo/Freshness-Guaranteed-French-Bread-14-oz_fd51f0c3-4eea-4ff1-8109-7770339b6d85.fdba2ce348744cde3840700f5e33f3d3.jpeg" class=" h-32 w-32 mx-auto" alt="">
            <h2 class="mb-4 mt-4">Name</h2>
            <button class="bg-purple-500 rounded-full text-white px-8 py-2">Add to cart 80฿</button>
        </div>
        <div class="bg-gray-100 w-72 h-72 p-4 rounded-lg text-center">
            <img src="https://i5.walmartimages.com/seo/Freshness-Guaranteed-French-Bread-14-oz_fd51f0c3-4eea-4ff1-8109-7770339b6d85.fdba2ce348744cde3840700f5e33f3d3.jpeg" class=" h-32 w-32 mx-auto" alt="">
            <h2 class="mb-4 mt-4">Name</h2>
            <button class="bg-purple-500 rounded-full text-white px-8 py-2">Add to cart 80฿</button>
        </div>
    </div>
    
</div>