<div class="grid row-gap-8 sm:row-gap-0 sm:grid-cols-2 lg:grid-cols-4 gap-6 mt-10">
  <% for(let i = 0; i < 8; i++) { %>
    
  <form action="/menu" method="get" class="bg-black w-full h-92 border border-gray-100 pt-7 pb-5 px-7 flex flex-col gap-4 rounded-[5px]">
  
    <div class="flex items-center justify-center font-bold text-xl text-white mb-[10px] "><%= bread[i].name %></div>
    <div class="flex justify-center text-white text-center h-20"><%= bread[i].descript %></div>
    <div class="flex items-center justify-center text-white font-bold text-xl"><%= bread[i].price %> ฿</div>
    <div id="pic" class="flex items-center justify-center overflow-hidden">
        <img src="<%= bread[i].breadImg %>" class="w-full h-[300px] object-cover">
    </div>
    <div class="flex justify-center items-center px-5">
        <input type="submit" class="bg-white text-black text-lg font-bold text-normal px-4 py-1 cursor-pointer 
        hover:bg-amber-300 transition-all duration-300 ease-in-out hover:text-white rounded-[2px]" value="learn more">
    </div>
  </form>
  <% } %>
</div>