<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
    <div class="grid row-gap-8 sm:row-gap-0 sm:grid-cols-2 lg:grid-cols-3">
      <div class="py-4 px-5 me-2 mb-2 text-sm font-medium text-white focus:outline-none bg-white rounded-md border border-purple-400 hover:bg-white hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-100 dark:focus:ring-gray-200 dark:bg-gray-300 dark:border-gray-200 dark:hover:text-white dark:hover:bg-gray-300">
        <div class="max-w-md text-center">
          <div class="flex items-center justify-center w-72 h-72 mx-auto mb-4 rounded-full bg-indigo-50 sm:w-48 sm:h-48">
            <svg class="w-16 h-16 text-deep-purple-accent-400 sm:w-36 sm:h-36" stroke="currentColor" viewBox="0 0 52 52">
                <img src="https://www.liggyscakes.co.uk/images/STILL-TO-ADD/PRIORITY/done/_fancybox_2x/IMG_8505.jpg" alt="">
            </svg>
          </div>
          <h6 class="mb-2 font-semibold leading-5">The quick fox</h6>
          <p class="mb-3 text-sm text-gray-900">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium rem aperiam, eaque ipsa quae. Sit error voluptatem.
          </p>
          <a href="/" aria-label="" class="inline-flex items-center font-semibold transition-colors duration-200 text-deep-purple-accent-400 hover:text-deep-purple-800">Learn more</a>
        </div>
      </div>
      <div class="py-4 px-5 me-2 mb-2 text-sm font-medium text-white focus:outline-none bg-white rounded-md border border-purple-400 hover:bg-white hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-100 dark:focus:ring-gray-200 dark:bg-gray-300 dark:border-gray-200 dark:hover:text-white dark:hover:bg-gray-300">
        <div class="max-w-md text-center">
          <div class="flex items-center justify-center w-72 h-72 mx-auto mb-4 rounded-full bg-indigo-50 sm:w-48 sm:h-48">
            <svg class="w-16 h-16 text-deep-purple-accent-400 sm:w-36 sm:h-36" stroke="currentColor" viewBox="0 0 52 52">
                <img src="https://www.liggyscakes.co.uk/images/STILL-TO-ADD/PRIORITY/done/_fancybox_2x/IMG_8505.jpg" alt="">
            </svg>
          </div>
          <h6 class="mb-2 font-semibold leading-5">The quick fox</h6>
          <p class="mb-3 text-sm text-gray-900">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium rem aperiam, eaque ipsa quae. Sit error voluptatem.
          </p>
          <a href="/" aria-label="" class="inline-flex items-center font-semibold transition-colors duration-200 text-deep-purple-accent-400 hover:text-deep-purple-800">Learn more</a>
        </div>
      </div>
      <div class="py-4 px-5 me-2 mb-2 text-sm font-medium text-white focus:outline-none bg-white rounded-md border border-purple-400 hover:bg-white hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-100 dark:focus:ring-gray-200 dark:bg-gray-300 dark:border-gray-200 dark:hover:text-white dark:hover:bg-gray-300">
        <div class="max-w-md text-center">
          <div class="flex items-center justify-center w-32 h-32 mx-auto mb-4 rounded-full bg-indigo-50 sm:w-32 sm:h-32">
            <svg class="w-16 h-16 text-deep-purple-accent-400 sm:w-20 sm:h-20" stroke="currentColor" viewBox="0 0 52 52">
                <img src="https://www.liggyscakes.co.uk/images/STILL-TO-ADD/PRIORITY/done/_fancybox_2x/IMG_8505.jpg" alt="">
            </svg>
          </div>
          <h6 class="mb-2 font-semibold leading-5">The quick fox</h6>
          <p class="mb-3 text-sm text-gray-900">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium rem aperiam, eaque ipsa quae. Sit error voluptatem.
          </p>
          <a href="/" aria-label="" class="inline-flex items-center font-semibold transition-colors duration-200 text-deep-purple-accent-400 hover:text-deep-purple-800">Learn more</a>
        </div>
      </div>
      <div class="py-4 px-5 me-2 mb-2 text-sm font-medium text-white focus:outline-none bg-white rounded-md border border-purple-400 hover:bg-white hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-100 dark:focus:ring-gray-200 dark:bg-gray-300 dark:border-gray-200 dark:hover:text-white dark:hover:bg-gray-300">
        <div class="max-w-md text-center">
          <div class="flex items-center justify-center w-32 h-32 mx-auto mb-4 rounded-full bg-indigo-50 sm:w-32 sm:h-32">
            <svg class="w-16 h-16 text-deep-purple-accent-400 sm:w-20 sm:h-20" stroke="currentColor" viewBox="0 0 52 52">
                <img src="https://www.liggyscakes.co.uk/images/STILL-TO-ADD/PRIORITY/done/_fancybox_2x/IMG_8505.jpg" alt="">
            </svg>
          </div>
          <h6 class="mb-2 font-semibold leading-5">The quick fox</h6>
          <p class="mb-3 text-sm text-gray-900">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium rem aperiam, eaque ipsa quae. Sit error voluptatem.
          </p>
          <a href="/" aria-label="" class="inline-flex items-center font-semibold transition-colors duration-200 text-deep-purple-accent-400 hover:text-deep-purple-800">Learn more</a>
        </div>
      </div>
      <div class="py-4 px-5 me-2 mb-2 text-sm font-medium text-white focus:outline-none bg-white rounded-md border border-purple-400 hover:bg-white hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-100 dark:focus:ring-gray-200 dark:bg-gray-300 dark:border-gray-200 dark:hover:text-white dark:hover:bg-gray-300">
        <div class="max-w-md text-center">
          <div class="flex items-center justify-center w-32 h-32 mx-auto mb-4 rounded-full bg-indigo-50 sm:w-32 sm:h-32">
            <svg class="w-16 h-16 text-deep-purple-accent-400 sm:w-20 sm:h-20" stroke="currentColor" viewBox="0 0 52 52">
                <img src="https://www.liggyscakes.co.uk/images/STILL-TO-ADD/PRIORITY/done/_fancybox_2x/IMG_8505.jpg" alt="">
            </svg>
          </div>
          <h6 class="mb-2 font-semibold leading-5">The quick fox</h6>
          <p class="mb-3 text-sm text-gray-900">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium rem aperiam, eaque ipsa quae. Sit error voluptatem.
          </p>
          <a href="/" aria-label="" class="inline-flex items-center font-semibold transition-colors duration-200 text-deep-purple-accent-400 hover:text-deep-purple-800">Learn more</a>
        </div>
      </div>
      <div class="py-4 px-5 me-2 mb-2 text-sm font-medium text-white focus:outline-none bg-white rounded-md border border-purple-400 hover:bg-white hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-100 dark:focus:ring-gray-200 dark:bg-gray-300 dark:border-gray-200 dark:hover:text-white dark:hover:bg-gray-300">
        <div class="max-w-md text-center">
          <div class="flex items-center justify-center w-32 h-32 mx-auto mb-4 rounded-full bg-indigo-50 sm:w-32 sm:h-32">
            <svg class="w-16 h-16 text-deep-purple-accent-400 sm:w-20 sm:h-20" stroke="currentColor" viewBox="0 0 52 52">
                <img src="https://www.liggyscakes.co.uk/images/STILL-TO-ADD/PRIORITY/done/_fancybox_2x/IMG_8505.jpg" alt="">
            </svg>
          </div>
          <h6 class="mb-2 font-semibold leading-5">The quick fox</h6>
          <p class="mb-3 text-sm text-gray-900">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium rem aperiam, eaque ipsa quae. Sit error voluptatem.
          </p>
          <a href="/" aria-label="" class="inline-flex items-center font-semibold transition-colors duration-200 text-deep-purple-accent-400 hover:text-deep-purple-800">Learn more</a>
        </div>
      </div>
      <!-- <div class="p-8 border-b lg:border-r">
        <div class="max-w-md text-center">
          <div class="flex items-center justify-center w-16 h-16 mx-auto mb-4 rounded-full bg-indigo-50 sm:w-16 sm:h-16">
            <svg class="w-8 h-8 text-deep-purple-accent-400 sm:w-12 sm:h-12" stroke="currentColor" viewBox="0 0 52 52">
              <polygon stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
            </svg>
          </div>
          <h6 class="mb-2 font-semibold leading-5">Leverage agile</h6>
          <p class="mb-3 text-sm text-gray-900">
            Storage shed, troughs feed bale manure, is garden wheat oats at augers. Bulls at rose garden cucumbers mice sunflower wheat in pig.
          </p>
          <a href="/" aria-label="" class="inline-flex items-center font-semibold transition-colors duration-200 text-deep-purple-accent-400 hover:text-deep-purple-800">Learn more</a>
        </div>
      </div>
      <div class="p-8 border-b sm:border-r lg:border-r-0">
        <div class="max-w-md text-center">
          <div class="flex items-center justify-center w-16 h-16 mx-auto mb-4 rounded-full bg-indigo-50 sm:w-16 sm:h-16">
            <svg class="w-8 h-8 text-deep-purple-accent-400 sm:w-12 sm:h-12" stroke="currentColor" viewBox="0 0 52 52">
              <polygon stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
            </svg>
          </div>
          <h6 class="mb-2 font-semibold leading-5">Organically grow</h6>
          <p class="mb-3 text-sm text-gray-900">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium rem aperiam, eaque ipsa quae. Sit error voluptatem.
          </p>
          <a href="/" aria-label="" class="inline-flex items-center font-semibold transition-colors duration-200 text-deep-purple-accent-400 hover:text-deep-purple-800">Learn more</a>
        </div>
      </div>
      <div class="p-8 border-b lg:border-b-0 lg:border-r">
        <div class="max-w-md text-center">
          <div class="flex items-center justify-center w-16 h-16 mx-auto mb-4 rounded-full bg-indigo-50 sm:w-16 sm:h-16">
            <svg class="w-8 h-8 text-deep-purple-accent-400 sm:w-12 sm:h-12" stroke="currentColor" viewBox="0 0 52 52">
              <polygon stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
            </svg>
          </div>
          <h6 class="mb-2 font-semibold leading-5">Have a good one</h6>
          <p class="mb-3 text-sm text-gray-900">
            Storage shed, troughs feed bale manure, is garden wheat oats at augers. Bulls at rose garden cucumbers mice sunflower wheat in pig.
          </p>
          <a href="/" aria-label="" class="inline-flex items-center font-semibold transition-colors duration-200 text-deep-purple-accent-400 hover:text-deep-purple-800">Learn more</a>
        </div>
      </div>
      <div class="p-8 border-b sm:border-b-0 sm:border-r">
        <div class="max-w-md text-center">
          <div class="flex items-center justify-center w-16 h-16 mx-auto mb-4 rounded-full bg-indigo-50 sm:w-16 sm:h-16">
            <svg class="w-8 h-8 text-deep-purple-accent-400 sm:w-12 sm:h-12" stroke="currentColor" viewBox="0 0 52 52">
              <polygon stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
            </svg>
          </div>
          <h6 class="mb-2 font-semibold leading-5">Trough pomfret</h6>
          <p class="mb-3 text-sm text-gray-900">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium rem aperiam, eaque ipsa quae. Sit error voluptatem.
            <a href="/" aria-label="" class="inline-flex items-center font-semibold transition-colors duration-200 text-deep-purple-accent-400 hover:text-deep-purple-800">Learn more</a>
          </p>
        </div>
      </div>
      <div class="p-8">
        <div class="max-w-md text-center">
          <div class="flex items-center justify-center w-16 h-16 mx-auto mb-4 rounded-full bg-indigo-50 sm:w-16 sm:h-16">
            <svg class="w-8 h-8 text-deep-purple-accent-400 sm:w-12 sm:h-12" stroke="currentColor" viewBox="0 0 52 52">
              <polygon stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
            </svg>
          </div>
          <h6 class="mb-2 font-semibold leading-5">Disrupt inspire</h6>
          <p class="mb-3 text-sm text-gray-900">
            Storage shed, troughs feed bale manure, is garden wheat oats at augers. Bulls at rose garden cucumbers mice sunflower wheat in pig.
          </p>
          <a href="/" aria-label="" class="inline-flex items-center font-semibold transition-colors duration-200 text-deep-purple-accent-400 hover:text-deep-purple-800">Learn more</a>
        </div>
      </div> -->
    </div>
  </div>